---
import "bootstrap-dark-5/dist/css/bootstrap-night.min.css";
import Counter from "../components/Counter.svelte";
import DashcamVideo from "../components/DashcamVideo.svelte";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Smart Dashcam</title>
    </head>
    <body class="container mt-2">
        <h1>Smart Dashcam</h1>
        <Counter client:load />
        <div class="mt-4">
            <DashcamVideo client:only />
        </div>
    </body>
</html>
